name: CI OneAPI

on:
  push:
    branches: [dev, master]
    paths-ignore:
      - "doc/**"
      - "scripts/**"
      - "LICENSE.txt"
      - "README.md"

  pull_request:
    paths-ignore:
      - "doc/**"
      - "scripts/**"
      - "LICENSE.txt"
      - "README.md"

env:
  CTEST_OUTPUT_ON_FAILURE: ON
  CTEST_PARALLEL_LEVEL: 2

jobs:
  ci-oneapi:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        configuration: ["Debug", "Release"]
        compiler: ["icpc", "icx"]

    steps:
      - uses: actions/checkout@v5

      - name: Install
        run: |
          wget -O - https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB 2>/dev/null | gpg --dearmor - | sudo tee /usr/share/keyrings/oneapi-archive-keyring.gpg >/dev/null
          echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneapi.list >/dev/null
          sudo apt-get update
          sudo apt-get install -y intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic ninja-build

      - name: Generate
        run: |
          . /opt/intel/oneapi/setvars.sh
          if [ "${{ matrix.compiler }}" = "icpc" ]; then
            cmake -B build -S . -G Ninja -D CMAKE_C_COMPILER=icc -D CMAKE_CXX_COMPILER=icpc -D CMAKE_BUILD_TYPE=${{ matrix.configuration }} -D CMAKE_CXX_FLAGS="-w2 -Wcheck -Werror -diag-disable=10441 -D DOCTEST_CONFIG_NO_CONTRADICTING_INLINE"
          else
            cmake -B build -S . -G Ninja -D CMAKE_C_COMPILER=icx -D CMAKE_CXX_COMPILER=icpx -D CMAKE_BUILD_TYPE=${{ matrix.configuration }} -D CMAKE_CXX_FLAGS="-Werror -fp-model=precise"
          fi

      - name: Build
        run: |
          . /opt/intel/oneapi/setvars.sh
          cmake --build build --config ${{ matrix.configuration }}
      - name: Test
        run: |
          . /opt/intel/oneapi/setvars.sh
          ctest -C ${{ matrix.configuration }} --test-dir build --no-tests=error
