name: CI

on:
  push:
    branches: [dev, master]
    paths-ignore:
      - "doc/**"
      - "scripts/**"
      - "LICENSE.txt"
      - "README.md"

  pull_request:
    paths-ignore:
      - "doc/**"
      - "scripts/**"
      - "LICENSE.txt"
      - "README.md"

env:
  CTEST_OUTPUT_ON_FAILURE: ON
  CTEST_PARALLEL_LEVEL: 2

concurrency:
  group: ${{ github.workflow }}|${{ github.ref_name }}|ci
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    env:
      CMAKE_GENERATOR: Ninja
      ASAN_OPTIONS: strict_string_checks=true:detect_odr_violation=2:detect_stack_use_after_return=true:check_initialization_order=true:strict_init_order=true
      TSAN_OPTIONS: force_seq_cst_atomics=1

    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2025"]
        compiler: ["cl", "clang", "clang-cl"]

        include:
          # Linux gcc
          - { compiler: gcc,   version: "4.8", os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: gcc,   version: "5",   os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: gcc,   version: "6",   os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: gcc,   version: "7",   os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: gcc,   version: "8",   os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: gcc,   version: "9",   os: ubuntu-22.04                          }
          - { compiler: gcc,   version: "10",  os: ubuntu-24.04                          }
          - { compiler: gcc,   version: "11",  os: ubuntu-24.04                          }
          - { compiler: gcc,   version: "12",  os: ubuntu-24.04                          }
          - { compiler: gcc,   version: "13",  os: ubuntu-24.04                          }
          - { compiler: gcc,   version: "14",  os: ubuntu-24.04                          }
          - { compiler: gcc,   version: "15",  os: ubuntu-24.04, container: ubuntu:26.04 }

          # Linux clang
          - { compiler: clang, version: "3.9", os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: clang, version: "4.0", os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: clang, version: "5.0", os: ubuntu-24.04, container: ubuntu:18.04 }
          - { compiler: clang, version: "6.0", os: ubuntu-24.04, container: ubuntu:20.04 }
          - { compiler: clang, version: "7",   os: ubuntu-24.04, container: ubuntu:20.04 }
          - { compiler: clang, version: "8",   os: ubuntu-24.04, container: ubuntu:20.04 }
          - { compiler: clang, version: "9",   os: ubuntu-24.04, container: ubuntu:20.04 }
          - { compiler: clang, version: "10",  os: ubuntu-24.04, container: ubuntu:20.04 }
          - { compiler: clang, version: "11",  os: ubuntu-22.04                          }
          - { compiler: clang, version: "12",  os: ubuntu-22.04                          }
          - { compiler: clang, version: "13",  os: ubuntu-22.04                          }
          - { compiler: clang, version: "14",  os: ubuntu-24.04                          }
          - { compiler: clang, version: "15",  os: ubuntu-24.04                          }
          - { compiler: clang, version: "16",  os: ubuntu-24.04                          }
          - { compiler: clang, version: "17",  os: ubuntu-24.04                          }
          - { compiler: clang, version: "18",  os: ubuntu-24.04                          }
          - { compiler: clang, version: "19",  os: ubuntu-24.04, container: ubuntu:26.04 }
          - { compiler: clang, version: "20",  os: ubuntu-24.04, container: ubuntu:26.04 }
          - { compiler: clang, version: "21",  os: ubuntu-24.04, container: ubuntu:26.04 }

          # macOS arm64
          - { os: macos-14, compiler: xcode, version: "15.0.1" } # Apple Clang 15.0.0
          - { os: macos-14, compiler: xcode, version: "15.4"   } # Apple Clang 15.0.0
          - { os: macos-14, compiler: xcode, version: "16.2"   } # Apple Clang 16.0.0
          - { os: macos-15, compiler: xcode, version: "16.3"   } # Apple Clang 17.0.0
          - { os: macos-14, compiler: gcc,   version: "13"     }

    steps:
      - uses: actions/checkout@v5

      # Ref: https://github.com/actions/checkout/issues/1590#issuecomment-2567109195
      - name: Prepare container (Linux, containerized)
        if: runner.os == 'Linux' && matrix.container != ''
        run: |
          docker pull ${{ matrix.container }}
          docker run --name build-container -d -v ${{ github.workspace }}:/workspace ${{ matrix.container }} tail -f /dev/null

          cat <<'EOF' > container-env.sh
          export CTEST_OUTPUT_ON_FAILURE="${{ env.CTEST_OUTPUT_ON_FAILURE }}"
          export CTEST_PARALLEL_LEVEL="${{ env.CTEST_PARALLEL_LEVEL }}"
          export CMAKE_GENERATOR="${{ env.CMAKE_GENERATOR }}"
          export ASAN_OPTIONS="${{ env.ASAN_OPTIONS }}"
          export TSAN_OPTIONS="${{ env.TSAN_OPTIONS }}"
          EOF

      - name: Install (Linux)
        if: runner.os == 'Linux' && matrix.container == ''
        run: |
          # Required for libc6-dbg:i386 and g++-multilib packages which are
          # needed for x86 builds.
          sudo dpkg --add-architecture i386

          sudo apt-get update
          sudo apt-get install -y cmake ninja-build valgrind libc6-dbg:i386

          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            sudo apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
          elif [ "${{ matrix.compiler }}" = "clang" ]; then
            # clang-17 does not automatically provide the i386 sanitizer runtimes,
            # but libclang-rt-V-dev:i386 does not always exist. This is the best intermediate option
            if [ "${{ matrix.version }}" = "17" ]; then
              sudo apt-get install -y libclang-rt-${{ matrix.version }}-dev:i386
            fi

            sudo apt-get install -y clang-${{ matrix.version }} libclang-${{ matrix.version }}-dev llvm-${{ matrix.version }}-dev g++-multilib
          fi

      - name: Install (Linux, containerized)
        if: runner.os == 'Linux' && matrix.container != ''
        env:
          CMD: |
            dpkg --add-architecture i386

            # Configure Kitware repo for newer version of CMake.
            if [ "${{ matrix.container }}" = "ubuntu:18.04" ]; then
              apt-get update && apt-get install -y wget gpg
              wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | tee /usr/share/keyrings/kitware-archive-keyring.gpg >/dev/null
              echo 'deb [signed-by=/usr/share/keyrings/kitware-archive-keyring.gpg] https://apt.kitware.com/ubuntu/ bionic main' | tee /etc/apt/sources.list.d/kitware.list >/dev/null
            fi

            apt-get update
            apt-get install -y cmake ninja-build valgrind libc6-dbg:i386 python3

            if [ "${{ matrix.compiler }}" = "gcc" ]; then
              apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
            elif [ "${{ matrix.compiler }}" = "clang" ]; then
              apt-get install -y clang-${{ matrix.version }} libclang-${{ matrix.version }}-dev llvm-${{ matrix.version }}-dev g++-multilib
            fi
        run: docker exec build-container bash -c "$CMD"

      - name: Install (macOS)
        if: runner.os == 'macOS'
        run: |
          if [ "${{ matrix.compiler }}" = "xcode" ]; then
            sudo xcode-select --switch /Applications/Xcode_${{ matrix.version }}.app
          fi

          if [ "${{ matrix.os}}" = "macos-14" -a "${{ matrix.compiler }}" = "gcc" ]; then
            sudo xcode-select --switch /Applications/Xcode_15.4.app
          fi

      - name: Configure MSVC for X64
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build & Test ${{ runner.arch }}
        if: matrix.container == ''
        run: python3 .github/workflows/build_and_test.py ${{ runner.os }} ${{ runner.arch }} ${{ matrix.compiler }} ${{ matrix.version }}

      - name: Build & Test ${{ runner.arch }} (Linux, containerized)
        if: runner.os == 'Linux' && matrix.container != ''
        env:
          CMD: |
            cd /workspace
            source container-env.sh
            python3 .github/workflows/build_and_test.py ${{ runner.os }} ${{ runner.arch }} ${{ matrix.compiler }} ${{ matrix.version }}
        run: docker exec build-container bash -c "$CMD"

      - name: Configure MSVC for X86
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86

      # MacOS doesn't support x86 from Xcode 10 onwards.
      - name: Build & Test X86
        if: (runner.os == 'Linux' && matrix.container == '') || (runner.os == 'Windows' && matrix.compiler != 'clang-cl')
        run: python3 .github/workflows/build_and_test.py ${{ runner.os }} x86 ${{ matrix.compiler }} ${{ matrix.version }}

      - name: Build & Test X86 (Linux, containerized)
        if: runner.os == 'Linux' && matrix.container != ''
        env:
          CMD: |
            cd /workspace
            source container-env.sh
            python3 .github/workflows/build_and_test.py ${{ runner.os }} x86 ${{ matrix.compiler }} ${{ matrix.version }}
        run: docker exec build-container bash -c "$CMD"
